<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web của Huy</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.jpg" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="~/Home_63130514/Index" class="logo">Quán của Huy 😋</a>
            <nav class="navbar">
                <a href="~/Home_63130514/Index">Trang chủ</a>
                <a href="~/Home_63130514/About">Giới thiệu</a>
                <a href="~/MonAns_63130514/Index">Menu</a>
                <a href="~/Home_63130514/Orders">Đặt hàng</a>
                <a href="~/Home_63130514/Contact">Liên hệ</a>
            </nav>

            <div class="icons">
                <a href="~/Home_63130514/Search"><i class="fas fa-search"></i></a>
                <a href="~/Home_63130514/Cart"><i class="fas fa-shopping-cart"></i><span>(3)</span></a>
                <div id="user-btn" class="fas fa-user"></div>
                <div id="menu-btn" class="fas fa-bars"></div>
            </div>

            <div class="profile">
                <p class="name">Nguyễn Quốc Huy</p>
                <div class="flex">
                    <a href="~/KhachHangs_63130514/Details" class="btn">Hồ sơ</a>
                    <a href="~/Home_63130514/Login" class="delete-btn">Đăng xuất</a>
                </div>
                <p class="account"><a href="~/Home_63130514/Login">Đăng nhập</a> or <a href="~/Home_63130514/Register">Đăng ký</a></p>
            </div>
        </section>
    </header>
    @RenderBody()
    <footer class="footer">

        <section class="box-container">

            <div class="box">
                <img src="~/Images/email-icon.png" alt="">
                <h3>Mail</h3>
                <a href="#">huyhakwalker@gmail.com</a>
                <a href="#">huy.nq.63cntt@ntu.edu.vn</a>
            </div>

            <div class="box">
                <img src="~/Images/clock-icon.png" alt="">
                <h3>Giờ mở cửa</h3>
                <p>07:00am to 11:00am </p>
                <p>12:00am to 08:00pm </p>
            </div>

            <div class="box">
                <img src="~/Images/map-icon.png" alt="">
                <h3>Địa chỉ</h3>
                <a href="#">Nha Trang, Khánh Hòa</a>
                <a href="#">Chương Mỹ, Hà Nội</a>
            </div>

            <div class="box">
                <img src="~/Images/phone-icon.png" alt="">
                <h3>Số điện thoại</h3>
                <a href="#">0969173964</a>
                <a href="#">0325824654</a>
            </div>

        </section>

        <div class="credit">&copy; copyright  2022 by <span>mr. web designer</span> | all rights reserved!</div>

    </footer>
    <div class="loader">
        <img src="~/Images/loader.gif" alt="">
    </div>
    <script src="~/Content/script.js"></script>
</body>
</html>
