@model IEnumerable<Project_63130514.Models.MonAn>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="heading">
    <h3>our menu</h3>
    <p><a href="home.html">home </a> <span> / menu</span></p>
</div>
<section class="products">

    <h1 class="title">latest dishes</h1>

    <div class="box-container">
        @foreach (var item in Model)
        {
            <form accept="" method="post" class="box">
                <a href="quick_view.html" class="fas fa-eye"></a>
                <button class="fas fa-shopping-cart" name="add_to_cart"></button>
                <img src="/Images/@Html.DisplayFor(model => item.AnhMonAn)" alt="">
                <a href="category.html" class="cat">@Html.DisplayFor(modelItem => item.LoaiMonAn)</a>
                <div class="name">@Html.DisplayFor(modelItem => item.TenMonAn)</div>
                <div class="flex">
                    <div class="price"><span>@Html.DisplayFor(modelItem => item.Gia)<span> </span></span>vnd</div>
                    <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
                </div>
            </form>
        }
    </div>
</section>
