@model IEnumerable<Project_63130514.Models.MonAn>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
}
<section class="home">
    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>đặt hàng trực tuyến</span>
                    <h3>delicious pizza</h3>
                    <a href="~/MonAns_63130514/Index" class="btn">Xem Menu</a>
                </div>
                <div class="image">
                    <img src="~/Images/home-img-1.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>đặt hàng trực tuyến</span>
                    <h3>double hamburger</h3>
                    <a href="~/MonAns_63130514/Index" class="btn">Xem Menu</a>
                </div>
                <div class="image">
                    <img src="~/Images/home-img-2.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>đặt hàng trực tuyến</span>
                    <h3>roasted chicken</h3>
                    <a href="~/MonAns_63130514/Index" class="btn">Xem Menu</a>
                </div>
                <div class="image">
                    <img src="~/Images/home-img-3.png" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="category">

    <h1 class="title">Các loại đồ ăn</h1>

    <div class="box-container">

        <a href="#" class="box">
            <img src="~/Images/cat-1.png" alt="">
            <h3>đồ ăn nhanh</h3>
        </a>

        <a href="#" class="box">
            <img src="~/Images/cat-2.png" alt="">
            <h3>món chính</h3>
        </a>

        <a href="#" class="box">
            <img src="~/Images/cat-3.png" alt="">
            <h3>thức uống</h3>
        </a>

        <a href="#" class="box">
            <img src="~/Images/cat-4.png" alt="">
            <h3>tráng miệng</h3>
        </a>

    </div>

</section>

<section class="products">

    <h1 class="title">các món mới</h1>

    <div class="box-container">
        @foreach (var item in Model)
        {
            if (count >= 6)
            {
                break;
            }
            <form accept="" method="post" class="box">
                <a href="@Url.Action("Details", "MonAns_63130514", new {id = item.MaMonAn})" class="fas fa-eye"></a>
                <button  type="button" class="fas fa-shopping-cart" name="add_to_cart"></button>
                <img src="/Images/@Html.DisplayFor(model => item.AnhMonAn)" alt="">
                <a href="category.html" class="cat">@Html.DisplayFor(modelItem => item.LoaiMonAn)</a>
                <div class="name">@Html.DisplayFor(modelItem => item.TenMonAn)</div>
                <div class="flex">
                    <div class="price"><span>@Html.DisplayFor(modelItem => item.Gia)<span> </span></span>vnd</div>
                    <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
                </div>
            </form>
            count++;
        }
        </div>

        <div class="more-btn">
            <a href="~/MonAns_63130514/Index" class="btn">Xem tất cả</a>
        </div>
    </section>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script>

        var swiper = new Swiper(".home-slider", {
            loop: true,
            grabCursor: true,
            effect: "flip",
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });

    </script>
