@model IEnumerable<Project_63130514.Models.MonAn>
@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="heading">
    <h3>Đơn hàng của bạn</h3>
    <p><a href="~/Home_63130514/Index">Trang chủ </a> <span> / Đơn hàng</span></p>
</div>

<section class="orders">

    <h1 class="title">Đơn hàng đã đặt</h1>
    @if (Session["id"] != null)
    {
        <div class="box-container">

            <div class="box">
                <p> Tên món : <span>Bún riêu cua</span> </p>
                <p> Tổng tiền : <span>50000 vnd</span> </p>
                <p> Phương thức thanh toán : <span>Thanh toán khi nhận hàng</span> </p>
                <p> Tình trạng : <span>Chờ duyệt</span> </p>
            </div>
        </div>
    }
    else
    {
        <h3 style="text-align:center">Vui lòng đăng nhập</h3>
    }
</section>