@model IEnumerable<Project_63130514.Models.MonAn>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="search-form">
        <form action="" method="post">
            <input type="text" class="box" name="tenMonAn" value="@ViewBag.TenMonAn" maxlength="100">
            <button type="submit" class="fas fa-search" name="search_btn"></button>
        </form>
</section>
<section class="products" style="padding-top: 0; min-height: 100vh;"></section>
